---
import Marquee from "../marquee/Marquee";

const companies = [
  {
    name: "Hubble HQ",
    logo: "companies/hubble.png",
  },
  {
    name: "SeedLegals",
    logo: "companies/seedlegals.png",
  },
  {
    name: "tl;dv",
    logo: "companies/tldv.png",
  },
  {
    name: "Mantaray",
    logo: "companies/mantaray.png",
  },
  {
    name: "Upstage",
    logo: "companies/upstage.png",
  },
  {
    name: "Popp AI",
    logo: "companies/poppai.png"
  },
  {
    name: "Department for Energy Security and Net Zero",
    logo: "companies/energysecurity.png"
  },
  {
    name: "AirDNA",
    logo: "companies/airdna.png"
  }
];
---

<section class="flex justify-center flex-col items-center space-y-12 my-24">
  <div>
    <p class="text-black font-extrabold lg:text-3xl text-4xl tracking-tighter">
      Trusted by Customer-Obsessed Companies
    </p>
    <strong class="text-gray-700 lg:text-2xl"></strong>
  </div>
  <div class="w-full m-auto">
    <Marquee client:load gradient={true} speed={25}>
      <div class="flex space-x-4">
        {
          Array.from({ length: 2 }, () => companies).flat().map(({ logo }) => (
            <div class="p-4 mx-4 flex justify-center flex-col items-center">
              <img src={logo} class="w-24" />
            </div>
          ))
        }
      </div>
    </Marquee>
  </div>
</section>
