---
import DotPattern from "@/components/magicui/dot-pattern.tsx";
import Companies from "./Companies.astro";

---

<section>
  <!-- <div class="absolute overflow-scroll inset-0 min-h-screen w-full bg-blue bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:64px_64px]"></div> -->
  <div
    class="mx-auto w-full lg:px-12 max-w-8xl md:px-12 items-center relative"
  >
  <div class="pt-32">
    <div class="text-center mx-auto lg:pt-18"> 
      <div class="relative flex h-[400px] w-full flex-col items-center justify-center overflow-hidden">
        <!-- HERO TITLE -->
        <DotPattern className="z-10 [mask-image:radial-gradient(500px_circle_at_center,white,transparent)]"/>
         <div class="z-20">

           <p
             class="text-slate-900 font-extrabold lg:text-8xl text-4xl tracking-tight"
           >
             Automate your<br />
             <p
               class="text-black font-extrabold lg:text-8xl text-4xl bg-gradient-to-r from-blue-500 via-red-500 to-purple-400 inline-block text-transparent bg-clip-text"
             >
               Customer Feedback
             </p>
   
             <p class="text-slate-900 font-extrabold lg:text-8xl text-4xl tracking-tight">
               Analysis
   
             </p>
           </p>
         </div>

        </div>  
          
        <!-- HERO SUBTITLE -->
          <p class="text-gray-700 lg:text-lg max-w-2xl mt-4 mx-auto text-base">
            Feedback is all over the place.
            <strong>Centralise</strong>, <strong>Analyse</strong>, and <strong>Action</strong> on all your Customer Feedback,
            in one place. <b
              class="animate-text text-transparent bg-clip-text bg-[length:250%_100%] bg-[linear-gradient(110deg,#1E293B,45%,#E2E8F0,55%,#1E293B)] dark:bg-[linear-gradient(110deg,#E2E8F0,45%,#242126,55%,#E2E8F0)] opacity-90 font-bold"
              >100x faster.</b
            >
          </p>


          <!-- DEMO BUTTON -->
          <div class="flex justify-center mt-10 flex-col sm:flex-row items-center">
            <a
            class="relative flex items-center border-2 border-slate-800 rounded-xl shadow-lg p-2 px-6 hover:bg-slate-900 hover:text-white active:bg-slate-600 bg-slate-100"
            href="https://tally.so/r/nGlKKz"
            >
            <div class="mr-4">
              <img 
                src="people/ilai.jpeg"
                class="rounded-md h-12 w-12 border-slate-100 border-2"
              />

            </div>
            <div class="flex flex-col items-start">
              <p class="text-xl font-bold">Book a Demo 👋</p>
              <p class="text-sm">(Friendly product tour)</p>
            </div>
            </a>
          </div>

          <!-- COMPANY BUTTON -->
          <div class="mx-auto max-w-6xl">
            <Companies />
          </div>
          
          <div class="border bg-blue-50 rounded-xl p-24 max-w-7xl mx-auto shadow-lg">
            <dl
              class="lg:text-2xl lg:gap-x-8 lg:grid-cols-3 max-w-6xl mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start"
            >
              <div class="text-gray-500">
                <strong class="text-gray-700">90% cheaper</strong> ━ Put feedback analysis
                on autopilot and save $2,000+/month.
              </div>
              <div class="text-gray-500">
                <strong class="text-gray-700">100x faster</strong> ━ Analyse surveys,
                reviews, support tickets, chat, in one place.
              </div>
              <div class="text-gray-500">
                <strong class="text-gray-700">Fight churn</strong> ━ Fight churn &
                drive revenue backing up decisions with clear insights.
              </div>
            </dl>

        </div>
          <!-- FEATURE LIST -->
        <div class="max-w-7xl m-auto mt-12 p-24">
          <div
            class="senja-embed"
            data-id="607723c1-4808-418c-bc2e-b567feecc259"
            data-mode="shadow"
            data-lazyload="false"
          />

        </div>
        <script
          async
          type="text/javascript"
          src="https://widget.senja.io/widget/607723c1-4808-418c-bc2e-b567feecc259/platform.js"
        ></script>
      </div>
    </div>
  </div>
</section>
