<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
          <div
            class="relative border-2 border-gray-200 shadow-lg rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <a
              href="https://tally.so/r/nGlKKz"
              class="font-semibold text-indigo-600"
              ><span class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                Catch Dolphin!  <span aria-hidden="true"
                  >&rarr;</span
                >
              </span>
            </a>
          </div>
        </div>
        <p
          class="text-black mt-8 font-extrabold lg:text-8xl text-4xl tracking-tight">
          Home To All Your <br> <p class="text-black font-extrabold lg:text-8xl text-4xl bg-gradient-to-r from-blue-500 via-red-500 to-purple-400 inline-block text-transparent bg-clip-text">User Feedback</p>.
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          User Feedback is all over the place.<br>
          Centralise, analyse, and find patterns & key insights across your user feedback, in one place. <b
            class="animate-text text-transparent bg-clip-text bg-[length:250%_100%] bg-[linear-gradient(110deg,#1E293B,45%,#E2E8F0,55%,#1E293B)] dark:bg-[linear-gradient(110deg,#E2E8F0,45%,#242126,55%,#E2E8F0)] opacity-90 font-bold"
          >100x faster.</b> 
          <br>
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
        class="items-center justify-center h-18 text-xl font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-12 py-3 text-center text-white w-full"
        href="https://app.getdolphin.ai"
        >Get Started &nbsp; &rarr;
      </a>
      </div>
      <br>
      <br>
      <div class="senja-embed" data-id="607723c1-4808-418c-bc2e-b567feecc259" data-mode="shadow" data-lazyload="false"></div>
<script async type="text/javascript" src="https://widget.senja.io/widget/607723c1-4808-418c-bc2e-b567feecc259/platform.js"></script>
      <p
          class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          
        </p>
        <br>
      <dl
        class="lg:text-2xl lg:gap-x-8 lg:grid-cols-3 max-w-6xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700"
            >90% cheaper</strong
          > ━ Save $2,000+/month analysing user feedback.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">10x+ faster</strong> ━ Go from raw data to key user insights in less than 5min.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Build what matters</strong> ━ Drive revenue by connecting user feedback to product decisions.
        </div>
      </dl>
    </div>
  </div>
</section>
