---
import { LuCombine, LuDna, LuTarget } from "react-icons/lu";

---
<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Get started in 60 seconds. <span class="lg:block"
            >
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl tracking-tight text-gray-500 mx-auto">
          Understand what your users really want and are happy to pay for. <br> Across all your sources. 10x Faster.
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center   rounded-xl flex">
              <LuCombine fontSize={32} />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Centralise: Connect your feedback sources.
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Survey responses. Support tickets. Transcripts. Video interviews. Slack, etc. 
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center  rounded-xl flex">
              <LuDna fontSize={32}/>
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Analyse: Dolphin finds patterns & key insights.
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            AI-powered feedback analysis. Focus only on the most important insights.
          </p>
        </div><div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center rounded-xl flex h-10 w-10">
              <LuTarget fontSize={32} />
            </div><p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0">
              Act: Share with your team and act on those insights.
            </p>
          </div><p class="text-gray-500 text-sm mt-4">
            Export graphs, themes and verbatims to back up product decisions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
