---

import { LuAlignEndHorizontal, LuHome, LuLayers, LuMessageCircle, LuPuzzle, LuSearch } from "react-icons/lu";


const items = [
  {
    text: "Aggregate, and centralise feedback from multiple sources.",
    icon: LuLayers,
  },
  {
    text: "Analyse 500+ data points in under 20sec.",
    icon: LuSearch,
  },
  {
    text: "Find users' pain points, patterns, and priorities, based on qualitative data.",
    icon: LuPuzzle,
  },
  {
    text: "Quantify qualitative feedback with users' verbatims and references.",
    icon: LuMessageCircle,
  },
  {
    text: "Have a central source of truth for your team, based on user feedback.",
    icon: LuHome,
  },
  {
    text: "Track the 'Voice of the Customer' over time, and place the right product bets.",
    icon: LuAlignEndHorizontal,
  },
]
---


<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-6xl text-4xl tracking-tighter">
          Save hundreds of hours analysing user feedback. <span class="lg:block"
            >
          </span>
        </p><p
          class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-gray-500">
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2><div>
          <div
            class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-3">
            {
              items.map((item) => (
                <div>
                  <div>
                    <div
                      class="items-center justify-center rounded-xl flex lg:mx-auto">
                      <item.icon fontSize={32} />
                    </div><p
                      class="mt-4 text-lg font-semibold leading-6 text-black font-display tracking-tight">
                      {item.text}
                    </p>
                  </div><div class="mt-4 text-gray-500 text-sm">
                  </div>
                </div>
              ))
            }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/2 m-auto">
    <div class="senja-embed" data-id="408a1dff-b618-42c3-a739-6e09201e8c53" data-mode="shadow" data-lazyload="false"></div>

  </div>
<script async type="text/javascript" src="https://widget.senja.io/widget/408a1dff-b618-42c3-a739-6e09201e8c53/platform.js"></script>
</section>


<br>
<br>

