@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
    /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
    /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03",
    /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
    /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Accordion */
/* See: https://github.com/markteekman/accessible-astro-components/blob/main/AccordionItem.astro */

.accordion__item,
.accordion__header {
  width: 100%;
}

.accordion__wrapper {
  border: transparent;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 1rem;
  background-color: #f3f4f6;
}

.accordion__item .accordion__header {
  border-bottom: 0;
}

.accordion__item .accordion__header:focus {
  outline-offset: -6px;
  outline: none;
  border: solid 2px transparent;
}

.accordion__item:only-of-type .accordion__header,
.accordion__item:last-of-type .accordion__header {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
}

.accordion__item:only-of-type .accordion__header,
.accordion__item:first-of-type .accordion__header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.accordion__item:only-of-type .accordion__panel,
.accordion__item:last-of-type .accordion__panel {
  border-bottom: none;
}

.header__toggle-indicator {
  width: 20px;
}

.accordion__panel {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: height 0.3s ease-in-out, visibility 0s 0.3s;
}

.panel__inner {
  padding: 2rem 1rem;
  border: solid 2px transparent;
  border-radius: 0.5rem;
}

.is-active .accordion__header {
  border: none;
}

.is-active .accordion__panel {
  visibility: visible;
  height: auto;
  transition: height 0.3s ease-in-out, visibility 0s 0s;
}
