<div class="pt-20 mx-auto max-w-7xl p-6">
    <h1 class="text-4xl font-bold mb-4">Data Processing Agreement</h1>
    <p class="text-gray-500 text-sm mb-8">Last updated: 28 October 2024</p>
  
    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">1. PARTIES</h2>
      <p class="text-gray-700 mb-4">
        This Data Processing Agreement and its Annexes (collectively, the “DPA”) reflects the parties’ agreement with respect to the Processing of Personal Data by Dolphin AI Ltd., a company incorporated in the United Kingdom (hereinafter referred to as “Dolphin AI”, the "Processor” or “we”, and through similar words such as “us”, “our”, etc.) on behalf of you and/or the entity you represent (“Member”, “Controller”, “you” or “your”) in connection with the Services provided by Dolphin AI under the <a href="https://getdolphin.ai/terms" class="text-blue-500 underline">Terms of Use</a> between you and Dolphin AI (also referred to in this DPA as the “Agreement”).
      </p>
      <p class="text-gray-700 mb-4">
        Dolphin AI and the Member may hereinafter be individually referred to as the “Party” and together as “Parties”.
      </p>
      <p class="text-gray-700 mb-4">
        Capitalized terms not otherwise defined herein have the meaning given to them in the Terms of Use.‍
      </p>
    </section>
  
    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">2. SUBJECT MATTER OF THE AGREEMENT</h2>
      <p class="text-gray-700 mb-4">
        2.1. The Parties seek to implement this DPA that complies with the requirements of the current legal framework in relation to data processing and with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC, General Data Protection Regulation (the “GDPR”); United Kingdom General Data Protection Regulation (“UK GDPR”) and the Data Protection Act 2018 (the “Act”).
      </p>
      <p class="text-gray-700 mb-4">
        2.2. This DPA is an integral part of the Agreement executed between Dolphin AI and the Member.
      </p>
    </section>
  
    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">3. DEFINITIONS</h2>
      <p class="text-gray-700 mb-4">
        3.1. Unless otherwise defined herein, capitalized terms and expressions used in this Agreement shall have the following meaning:
      </p>
      <ul class="list-disc list-inside text-gray-700 mb-4">
        <li><strong>“Data Protection Laws”</strong> means any and all data privacy, cybersecurity and data protection laws, rules and regulations to which the Parties are subject. Data Protection Laws shall include, but not limited to, GDPR, the UK GDPR, the Act, and California Consumer Privacy Act (“CCPA”), together with all legislation made thereunder and any other laws relating to the processing of Personal Data, in each case as amended, superseded or replaced from time to time.</li>
        <li><strong>“Controller”</strong> means the natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purposes and means of the Processing of Personal Data.</li>
        <li><strong>“Controller”, “Processor”, “Personal Data”, “Data Subject”, “Processing”, “Personal Data Breach” and “Member State”</strong> shall all have the meanings given to them in the GDPR and UK GDPR. 
            The terms <strong>“Personal Information”, “Business”, “Business Purpose”, “Consumer”, “California Consumer”, “Service Provider” and “Sell”</strong> shall have the meaning ascribed to them in the CCPA.
            <strong>“Data Subject”</strong> shall also mean and refer to <strong>“Consumer”</strong>
            as such term is defined in the CCPA. <strong>“Personal Data”</strong> shall also mean <strong>“Personal Information”</strong> for the purpose of this DPA.
        </li>
        <li><strong>“Personal Data”</strong> means “any information relating to an identified or identifiable natural person (“Data Subject”); an identifiable person is one who can be identified, directly or indirectly, in particular by reference identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person", as defined under the GDPR and includes any equivalent definition in the Data Protection Laws,</li>
        <li><strong>“Processor”</strong> means a natural or legal person, public authority, agency or other body which Processes Personal Data on behalf of the Controller.</li>
        <li><strong>“Processing of Personal Data” (or “Processing/Process”)</strong> means “any operation or set of operations which is performed on Personal Data or on sets of Personal Data, whether or not by automated means, such as collection, recording, organization, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction” as defined under the GDPR and includes any equivalent definition in the Data Protection Laws; </li>
        <li><strong>“Purpose”</strong> means the Services and the associated Description of the Processing Operations defined in Annex-1 to this DPA; </li>
        <li><strong>“UK GDPR”</strong> means the Data Protection Act 2018 and the GDPR as it forms part of the law of England and Wales, Scotland and Northern Ireland by virtue of section 3 of the European Union (Withdrawal) Act 2018 and as amended by Schedule 1 to the Data Protection, Privacy and Electronic Communications (Amendments etc.) (EU Exit) Regulations 2019 (SI 2019/419). </li>
        <li><strong>“UK Addendum to the SSCs”</strong> “means the International Data Transfer Addendum (the “IDTA”) to the EU Commission Standard Contractual Clauses (the “SCCs” defined below) issued by the Commissioner under S119A (1) Data Protection Act 2018; </li>
        <li><strong>““New Standard Contractual Clauses” or “SSCs”</strong> means the Standard Contractual Clauses for the transfer of personal data to third countries pursuant to GDPR and adopted by the European Commission Decision 2021/914 on 4 June 2021; </li>
        <li><strong>“Services”</strong> means the feedback processing solution offered by Dolphin AI for the Members to consolidate, analyse and share insights from customer feedback; </li>
        <li><strong>"Sub-processor"</strong> means any third-party processor engaged by Dolphin AI to process Personal Data exclusively intended for the Processing activities to be carried out on behalf of the Member after the transfer of Personal Data in connection with this DPA.‍ </li>
        
    </ul>
    </section>
  
    <section class="mb-8">
      <h2 class="text-2xl font-semibold mb-4">4. DATA PROCESSING</h2>
      <p class="text-gray-700 mb-4">
        4.1. The Parties acknowledge that Member is the Controller of the Personal Data and Dolphin AI is acting as a Processor on behalf of Member in providing the Services. By the nature of the Services, the Data Subjects whose Personal Data is processed are both Member and Contact to the extent that they share their Personal Data with Dolphin AI. This DPA regulates the rights and obligations of the Parties in terms of the Personal Data processed within the scope of the Agreement. For the avoidance of doubt, any rights and obligations in terms of the Personal Data processed within the scope of the usage of Dolphin AI’s Services by the Contact are determined within the Terms of Use published by Dolphin AI on its Website and other Dolphin AI platforms.
      </p>
      <p class="text-gray-700 mb-4">
        4.2. The details of the Processing of Personal Data by Dolphin AI as a Processor are set out in Annex-I (“Details of Processing”) to this DPA.
      </p>
      <p class="text-gray-700 mb-4">
        4.3. Dolphin AI is not responsible for the privacy practices of the Members, and only Processes Personal Data in accordance with the Agreement it has with the Members. Members shall have sole responsibility for the legality and accuracy of Personal Data and the means by which they acquired the Personal Data.
      </p>
      <p class="text-gray-700 mb-4">
        4.4. The Parties agree that the Services are not intended for the Processing of Sensitive Data.
      </p>
      <p class="text-gray-700 mb-4">
        4.5. The Processor certifies that it understands the rules, requirements and definitions of the CCPA and agrees to refrain from selling (as such term is defined in the CCPA) any Personal Information processed hereunder without Member’s prior written consent and taking any action that would cause any transfer of Personal Information to or from Processor under the Agreement or this DPA to qualify as “selling” such Personal Information under the CCPA.
      </p>
    </section>

    <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">5. DATA TRANSFERS</h2>
        <p class="text-gray-700 mb-4">
          5.1. Member acknowledges and agrees that Dolphin AI may access and Process Personal Data on a global basis as necessary to provide its Services in accordance with the Agreement, and in particular that Personal Data may be transferred to other jurisdictions where Sub-Processors operate. Wherever Personal Data is transferred outside its country of origin, each Party will ensure such transfers are made in compliance with the requirements of Data Protection Laws.
        </p>
        <p class="text-gray-700 mb-4">
          5.2. If the Member is situated in a country within the EU and EEA, and Personal Data is transferred to a Sub-processor outside of the UK and EEA, the SCCs shall apply in relation to such transfer and shall be incorporated in this DPA.
        </p>
        <p class="text-gray-700 mb-4">
          5.3. If the Member is situated in the United Kingdom, and Personal Data is transferred to a Sub-processor established outside of the UK and EEA, the UK Addendum to the SCCs shall apply in relation to such transfer. In this case, the Sub-processor and the Member may use IDTA or UK Addendum to the SCCs when transferring Personal Data to the country not covered by an “adequate decision”.
        </p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">6. RESPONSIBILITIES OF THE MEMBER</h2>
        <p class="text-gray-700 mb-4">
          6.1. Member represents and warrants that the processing of Personal Data complies with Data Protection Laws, including by establishing a lawful basis if and as required, and that the instructions provided to Dolphin AI shall comply with Data Protection Laws. In the event GDPR, UK GDPR or CCPA do not apply to the Member, then Member must abide by whatever other Data Protection Laws and at a minimum: (i) obtain and maintain any and all authorizations, permissions and informed consents, as may be necessary under applicable laws and regulations, in order to allow Dolphin AI to lawfully process and use the Member Data within the scope of the Services; and (ii) have, properly publish and abide by an appropriate privacy policy that complies with all Data Protection Laws.
        </p>
        <p class="text-gray-700 mb-4">
          6.2. Member is responsible for independently determining whether the data security provided for in the Service adequately meets the Member’s obligations under applicable Data Protection Laws.
        </p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">7. OBLIGATIONS OF DOLPHIN AI</h2>
        <p class="text-gray-700 mb-4">
          7.1. Compliance with Instructions. Dolphin AI undertakes to Process Personal Data only for the Purpose described in the Annex-1 to this DPA or as otherwise agreed within the scope of the Member’s lawful instructions, except where and to the extent otherwise required by applicable law.
        </p>
        <p class="text-gray-700 mb-4">
          7.2. Conflict of Laws. If Dolphin AI becomes aware that it cannot Process Personal Data in accordance with the Member’s instructions due to a legal requirement under any applicable law, it will (i) promptly notify the Member of that legal requirement to the extent permitted by the applicable law; and (ii) where necessary, cease all Processing (other than merely storing and maintaining the security of the affected Personal Data) until such time as the Member issues new instructions with which we are able to comply. If this provision is invoked, Dolphin AI will not be liable to the Member under the Agreement for any failure to perform the applicable Services until such time as the Member issues new lawful instructions with regard to the Processing.
        </p>
        <p class="text-gray-700 mb-4">
          7.3. Security. Dolphin AI implements and maintains appropriate technical and organizational measures to protect Personal Data from Personal Data Breaches, as described under Annex-3 to this DPA (“Technical and Organizational Security Measures”). Notwithstanding any provision to the contrary, the Processor may modify or update the Security Measures at the Processor’s discretion provided that such modification or update does not result in a material degradation in the protection offered by the Security Measures.
        </p>
        <p class="text-gray-700 mb-4">
          7.4. Confidentiality. The Processor ensures that any personnel whom they authorize to Process Personal Data on their behalf is subject to appropriate confidentiality obligations (whether a contractual or statutory duty) with respect to that Personal Data.
        </p>
        <p class="text-gray-700 mb-4">
          7.5. Personal Data Breaches. The Processor shall notify the Controller without undue delay after the Processor becomes aware of any Personal Data Breach and provide timely information relating to the Personal Data Breach as it becomes known or requested by the Controller within a reasonable time. At the Controller’s request, Dolphin AI will provide the Member with such reasonable assistance as necessary to enable you to notify relevant Personal Data Breaches to competent authorities and/or affected Data Subjects, if you are required to do so under Data Protection Laws.
        </p>
        <p class="text-gray-700 mb-4">
          7.6. Return or Deletion of Data. Dolphin AI shall return or securely destroy Personal Data, in accordance with the Member’s instructions, upon Member’s request or within 30 days upon the termination of Member’s account(s) or the termination of the Agreement unless such Personal Data must be retained to comply with applicable law.
        </p>
        <p class="text-gray-700 mb-4">
          7.7. Dolphin AI Assistance with Data Subject Requests. Taking into account the nature of the processing, the Service Controls are the technical and organizational measures by which Dolphin AI will assist Member in fulfilling Member’s obligations to respond to Data Subjects’ requests under the GDPR. If a Data Subject makes a request to Dolphin AI, Dolphin AI will forward such request to Member once Dolphin AI has identified that the request is from a Data Subject for whom Member is responsible. The Parties agree that Member’s use of the Services and Dolphin AI forwarding Data Subjects’ requests to Member in accordance with this Article represent the scope and extent of Member’s required assistance.
        </p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">8. SUB-PROCESSING</h2>
        <p class="text-gray-700 mb-4">
          8.1. Member acknowledges and agrees and hereby authorizes Dolphin AI to engage Sub-processors that are: (a) an Affiliate of Dolphin AI; and (b) third-party Sub-processors, to process the Personal Data for and on behalf of Dolphin AI and/or an Affiliate of Dolphin AI, in each case in connection with the provision of the Services and to fulfill the obligations set forth under the Agreement.
        </p>
        <p class="text-gray-700 mb-4">
          8.2. Dolphin AI will make available to Member the current list of Sub-processors used by Dolphin AI to process Personal Data upon written request of Member within a reasonable time. The Member provides general authorisation to Dolphin AI’s use of Sub-processors to Process Personal Data on behalf of the Member, including those set out in such list.
        </p>
        <p class="text-gray-700 mb-4">
          8.3. Dolphin AI shall provide Member with notification of any intended new Sub-processor(s) by sending an e-mail to the e-mail address given by the Member. Member may reasonably object to Dolphin AI’s use of a new Sub-processor, for reasons relating to the protection of Personal Data intended to be Processed by such Sub-processor, by notifying Dolphin AI promptly in writing within 7 (seven) days after receiving the aforesaid notice. Member shall ensure that such written objection shall include the reasons for objecting to Dolphin AI’s use of such new Sub-processor. Failure to object to such new Sub-processor in writing within 7 (seven) days following Dolphin AI’s notice shall be deemed as acceptance of the new Sub-processor. In the event Member reasonably objects to a new Sub-processor, as permitted in the preceding sentences, Dolphin AI will use reasonable efforts to make available to Member a change in the Services or recommend a commercially reasonable change to Member’s configuration or use of the Services to avoid Processing of Personal Data by the objected-to new Sub-processor without unreasonably burdening the Member. Until a decision is made regarding the new Sub-processor, Dolphin AI may temporarily suspend the Processing of the affected Personal Data and/or suspend access to the Member’s account applicable to the affected Agreement. Member will have no further claims against Dolphin AI (including requesting refunds for Services) as a result of or in connection with the termination of the Agreement, or any part of it, pursuant to this Article 8.3.
        </p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">9. AUDITS</h2>
        <p class="text-gray-700 mb-4">
          9.1. Controls for the Protection of Personal Data. Dolphin AI shall maintain industry-standard technical and organizational measures for the protection of Personal Data processed hereunder including protection against unauthorized or unlawful Processing and against accidental or unlawful destruction, loss or alteration or damage, unauthorized disclosure of, or access to, Personal Data, confidentiality and integrity of Personal Data, including those measures set forth in the Annex-3 Technical and Organizational Measures, as may be amended from time to time. Upon the Member’s reasonable request, Dolphin AI will reasonably assist Member, at Member’s cost in ensuring compliance with the obligations pursuant to Articles 32 to 36 of the GDPR and/or UK GDPR taking into account the nature of the Processing and the information available to Dolphin AI.
        </p>
        <p class="text-gray-700 mb-4">
          9.2. Audits and Inspections. Upon Member providing at least 14 days prior written request (no more than once every 12 months) at Member’s expense, Dolphin AI shall:
          <ul class="list-disc ml-8">
            <li>make available to Member, and/or Member’s independent, reputable, third-party auditor, information necessary to demonstrate Dolphin AI’s compliance with Data Protection Laws.</li>
            <li>allow for and contribute to audits, including inspections, conducted by them, provided that:
              <ul class="list-disc ml-8">
                <li>Dolphin AI shall not provide information to Member pursuant to paragraph 9.2.1 where the Member is a competitor of Dolphin AI (as determined by Dolphin AI);</li>
                <li>prior to receiving any information pursuant to paragraph 9.2.1 or Dolphin AI allowing for or contributing to audits or inspections pursuant to paragraph 9.2.2, each of the Member and any third-party auditor shall enter into confidentiality undertakings satisfactory to Dolphin AI;</li>
                <li>all such information, audits, inspections and the results therefrom, including the documents reflecting the outcome of the audit and/or the inspections, shall only be used by Member and/or third-party auditor to assess compliance with this DPA, and shall not be used for any other purpose or disclosed to any third party without Dolphin AI’s prior written approval.</li>
              </ul>
            </li>
          </ul>
        </p>
        <p class="text-gray-700 mb-4">
          9.3. Upon Dolphin AI’s request, Member shall return all records or documentation in Member’s possession or control provided by Dolphin AI in the context of the audit and/or the inspection. Nothing in this paragraph 8.2 varies or modifies the Standard Contractual Clauses nor affects any Supervisory Authority’s or Data Subject’s rights under the Standard Contractual Clauses.
        </p>
        <p class="text-gray-700 mb-4">
          9.4. In the event of an audit or inspections as set forth in paragraph 8.2, Member shall ensure that it (and each of its mandated auditors) will not cause (or, if it cannot avoid, minimize) any damage, injury or disruption to Dolphin AI’s premises, equipment, personnel and business while conducting such audit or inspection.
        </p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">10. TERM</h2>
        <p class="text-gray-700 mb-4">
          This DPA will enter into force as of the date of acceptance or signature (the “Commencement Date”) hereof and shall continue in full force and effect until the termination of the Purpose as defined in Annex-1.
        </p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">11. GOVERNING LAW</h2>
        <p class="text-gray-700 mb-4">
          This DPA is governed by the same laws as the same jurisdiction which governs the Agreement.
        </p>
      </section>
      
      <section class="mb-8">
        <h2 class="text-2xl font-semibold mb-4">12. MISCELLANEOUS PROVISIONS</h2>
        <p class="text-gray-700 mb-4">
          12.1. Severability. If any term or provision in this DPA shall be held to be illegal or unenforceable, in whole or in part, under any enactment or rule of law, such term or provision or part shall to that extent be deemed not to form part of this DPA but the enforceability of the remainder of this DPA shall not be affected.
        </p>
        <p class="text-gray-700 mb-4">
          12.2. Waiver. The failure by the Parties to exercise any right, power, or privilege under the terms of this DPA will not be construed as a waiver of any subsequent or future exercise of that right, power, or privilege or the sole or partial exercise of any other right, power, or privilege.
        </p>
        <p class="text-gray-700 mb-4">
          12.3. Amendments. Notwithstanding anything else to the contrary in the Agreement and without prejudice to the ‘Compliance with Instructions’ or ‘Security’ sections of this DPA, Dolphin AI reserves the right to make any updates and changes to this DPA.
        </p>
        <p class="text-gray-700 mb-4">
          12.4. Notices. Any notice, letter or other communication contemplated by this Agreement shall be communicated in writing via registered mail to the registered addresses of the Parties or via electronic mail, delivery and read receipt requested.
        </p>
      </section>
      
  
  
      <section id="annex-i" style="margin-top: 50px;">
        <h2>ANNEX – I: DETAILS OF PROCESSING</h2>
        <br>
        <h3>A. List of Parties</h3><br>
        <p>
            <strong>Data exporter:</strong><br>
            Name: The Member, as defined in the Dolphin AI Terms of Use<br>
            Role: Controller
    
        </p>
        <br>
        <p>
            <strong>Data importer:</strong>
            Name: Dolphin AI Ltd.<br>
            Role: Processor
        </p>
        <br>
        <p>
            Activities relevant to the data transferred under these Clauses: Processing of Personal Data in connection with Member’s use of the Dolphin AI Services under the Agreement.
        </p>
        <br>
        <h3>B. Nature and Purpose of Processing</h3>
        <br>
        <p>
            Personal Data will be Processed in accordance with the Agreement including this DPA and may be subject to the following Processing activities:
        </p>
        <br>
        <ul>
            <li>Undertaking registration and de-registration;</li>
            <li>Performing the Agreement, this DPA and/or other contracts executed by the Parties;</li>
            <li>Acting upon Member’s instructions, where such instructions are consistent with the Agreement;</li>
            <li>Sharing Personal Data with Sub-processors (e.g., integrations between the Services and any services provided by third parties, as configured by or on behalf of Customer to facilitate the sharing of Personal Data between the Services and such third-party services);</li>
            <li>Rendering Personal Data fully anonymous, non-identifiable and non-personal in accordance with applicable standards recognized by Data Protection Laws and guidance issued thereunder;</li>
            <li>Complying with applicable laws and regulations;</li>
            <li>All tasks related with any of the above.</li>
        </ul>
        <br>

        <h3>C. Duration of Processing</h3>
        <br>

        <p>
            Subject to any paragraph of the DPA and/or Terms of Use dealing with the duration of the Processing and the consequences of the expiration or termination thereof, Dolphin AI as Processor will Process Personal Data pursuant to the DPA and Terms of Use for the duration of Terms of Use, unless otherwise agreed upon in writing.
        </p>
        <br>
    
        <h3>D. Type of Personal Data</h3>
        <br>

        <p>
            Personal details (e.g. name, business address), contact information (e.g. e-mail, organization), (stored in a de-identified format), general user feedback data manually uploaded to the application or manually imported through an integration with the application by the Member.
        </p>
        <br>

        <h3>E. Categories of Data Subjects</h3>
        <br>

        <p>
            During the performance of the Services, the Personal Data relating to the following categories of Data Subjects may be Processed:
        </p>
        <ul>
            <li>Contacts</li>
            <li>Other user feedback</li>
        </ul>
    </section>
    
  
    <section id="annex-ii" style="margin-top: 50px;">
        <h2>ANNEX – II: LIST OF SUB-PROCESSORS</h2>
        <br>

        <p>Please review the Third-Party Service Providers list below for the list of Sub-processors.</p>
        <br>

        <ul>
            <li>
                <strong>Name: </strong><a href="https://aws.amazon.com/pm/serv-s3/" class="text-blue-500 underline">AWS</a><br>
                <strong>Country of Location:</strong> London, UK<br>
                <strong>Anticipated Processing Task:</strong> Cloud storage
            </li>
            <br>

            <li>
                <strong>Name: </strong><a href="https://railway.app/" class="text-blue-500 underline">Railway</a><br>
                <strong>Country of Location:</strong> Amsterdam, EU<br>
                <strong>Anticipated Processing Task:</strong> Servers and infrastructure
            </li>
            <br>
            
            <li>
                <strong>Name: </strong><a href="https://openai.com/index/openai-api/" class="text-blue-500 underline">OpenAI</a><br>
                <strong>Country of Location:</strong> Ireland, EU<br>
                <strong>Anticipated Processing Task:</strong> AI processing
            </li>
        </ul>
    </section>
    <section id="annex-iii" style="margin-top: 50px;">
        <h2>ANNEX – III: TECHNICAL AND ORGANIZATIONAL SECURITY MEASURES</h2><br>
        <p>This Technical and Organizational Security Measures sets out the measures for ensuring ongoing confidentiality, integrity, availability and resilience of processing systems and services, the measures for ensuring the ability to restore the availability and access to Personal Data.</p>
        <br>

        <p>All capitalized terms not otherwise defined herein will have the meanings as set forth in the General Terms.</p>
        <br>

        <p>The following policies are maintained by Dolphin AI in order to ensure the measures set forth above; the policies are updated on an ongoing basis and reviewed annually for gaps:</p>
        <br>
        <ol>
            <li>
                <strong>Access Control</strong> 
                <ul>
                    <br>
                    <li><strong>a. Preventing Unauthorized Access, Outsourced Processing:</strong> Dolphin AI hosts its Services with outsourced cloud infrastructure providers. Additionally, Dolphin AI maintains contractual relationships with vendors to provide the Services in accordance with the DPA. Dolphin AI relies on contractual agreements, privacy policies, and vendor compliance programs to protect data processed or stored by these vendors.</li>
                    <li><strong>b. Physical and Environmental Security:</strong> Dolphin AI hosts its product infrastructure with outsourced infrastructure providers. Dolphin AI does not own or maintain hardware located at the outsourced infrastructure providers’ data centers. Production servers and client-facing applications are logically and physically secured from our internal corporate information systems. The physical and environmental security controls are audited for SOC 2 Type II and ISO 27001 compliance, among other certifications.</li>
                    <li><strong>c. Limited Employee and Contractor Access:</strong> Dolphin AI provides access to the facilities to its employees and contractors who have a legitimate business need for such access privileges to provide the Services within the scope of the Agreement. When an employee or contractor no longer has a business need for the access privileges assigned to him/her, the access privileges are promptly revoked, even if the employment or contractual relationship continues.</li>
                    <li><strong>d. Pseudonymisation and Encryption of Personal Data:</strong> Where appropriate, Dolphin AI encrypts Personal Data in transit and at rest using encryption through its Sub-processors. AWS also has a dedicated Compliance Program which includes certifications and accreditations like CSA, ISO, SOC, and more, as listed on their website at <a href="https://aws.amazon.com/compliance/programs" target="_blank">https://aws.amazon.com/compliance/programs</a>.</li>
                    <li><strong>e. Data Retention:</strong> Personal Data and raw data are all deleted as soon as possible or legally applicable. Usually, the data is provided by the Member for the purpose of providing the Services by Dolphin AI and is deleted upon termination of the contractual obligations or within 30 days of termination. However, certain data, such as financial data, is required to be retained for a longer period of time.</li>
                    <li><strong>f. Continued Evaluation:</strong> Dolphin AI will conduct periodic reviews of the security of its platform and the adequacy of its information security program as measured against industry security standards and its policies and procedures. Dolphin AI will continually evaluate the security of its systems to determine whether additional or different security measures are required to respond to new security risks or findings generated by the periodic reviews.</li>
                    <li><strong>g. Details on Amazon Web Services (AWS):</strong> As a Sub-processor of Dolphin AI, AWS regularly achieves third-party validation for thousands of global compliance requirements that they continually monitor to help their customers meet security and compliance standards. AWS supports security standards and compliance certifications like PCI-DSS, HIPAA/HITECH, FedRAMP, GDPR, FIPS 140-2, and NIST 800-171. For a detailed overview of all security and privacy measures, see <a href="https://aws.amazon.com/security" target="_blank">https://aws.amazon.com/security</a>.</li>
                    <li><strong>h. Details on Railway:</strong> As a Sub-processor of Dolphin AI, Railway regularly achieves third-party validation for thousands of global compliance requirements that they continually monitor to help their customers meet security and compliance standards. Railway supports security standards and compliance certifications like EU-US DPF, HIPAA, SOC 2, and Swiss-US DPF. For a detailed overview of all security and privacy measures, see <a href="https://trust.railway.app/" target="_blank">https://trust.railway.app/</a>.</li>
                    <br>
                </ul>
            </li>
            <li>
                <strong>Transmission Control</strong>
                

                <ul>
                    <br>
                    <li><strong>a. In transit:</strong> HTTPS implementation of Dolphin AI uses industry-standard algorithms and certificates.</li>
                    <li><strong>b. At rest:</strong> Dolphin AI stores User passwords following policies that follow industry standard practices for security. Dolphin AI has implemented technologies to ensure that stored data is encrypted at rest.</li>
                    <br>
                </ul>
            </li>
            <li>
                <strong>Cyber Security</strong>
                <br>
                <li>Dolphin AI has developed and implemented a security control environment designed to protect the confidentiality, integrity, and availability of all Dolphin AI User’s systems. Dolphin AI conducts a variety of regular internal and external audits that are inclusive of security operations.</li>
                <br>
                <li>Dolphin AI performs an annual internal review of all security management policies and procedures. External auditors perform an annual review of these policies and procedures.</li>
                <br>
                <li>Dolphin AI maintains administrative, physical, and technical safeguards for the protection of the security, confidentiality, and integrity of Member and its data and confidential and proprietary information, including Personal Data. Dolphin AI regularly monitors its compliance with industry security standards and will not intentionally decrease them during the term of the Agreement.</li>
                <br>
            </li>
            <li>
                <strong>Cross Border Transfers; SCCs, IDTA & Additional Safeguards</strong>
                <ul>
                    <br>
                    <li><strong>a. EEA Transfers:</strong> The Parties agree that the terms of the Standard Contractual Clauses are hereby incorporated by reference and shall apply to an EEA Transfer. Module Two (Controller to Processor) of the Standard Contractual Clauses shall apply where the EEA Transfer is effectuated by Member as the Controller of the Personal Data and Dolphin AI is the Processor of the Personal Data.</li>
                    <li><strong>b. UK Transfers:</strong> The Parties agree that the IDTA shall apply to a UK Transfer. For this reason, the Parties agree to use IDTA embedded to this DPA as a transfer tool to comply with Article 46 of the UK GDPR when making restricted transfers.</li>
                    <li><strong>c. Additional Safeguards:</strong> In the event of an EEA Transfer or a UK Transfer, the Parties agree to supplement these with the following safeguards and representations, where appropriate:
                        <ul>
                            <br>
                            <li>As the Processor, Dolphin AI shall have in place and maintain in accordance with good industry practice measures to protect the Personal Data from interception (including in transit from the Controller to the Processor and between different systems and services). This includes having in place and maintaining network protection intended to deny attackers the ability to intercept data and encryption of Personal Data whilst in transit and at rest intended to deny attackers the ability to read data.</li>
                            <br>

                            <li>Dolphin AI will make commercially reasonable efforts to resist, subject to applicable laws, any request for bulk surveillance relating to the Personal Data protected under GDPR or the UK GDPR, including under section 702 of the United States Foreign Intelligence Surveillance Court (“FISA”);</li>
                            <br>

                            <li>If Dolphin AI becomes aware that any government authority (including law enforcement) wishes to obtain access to or a copy of some or all of the Personal Data, whether on a voluntary or a mandatory basis, then unless legally prohibited or under a mandatory legal compulsion that requires otherwise:
                                <ol>
                                    <br>
                                    <li>Dolphin AI shall inform the relevant government authority that Dolphin AI is a Processor of the Personal Data, and that the Controller has not authorized Dolphin AI to disclose the Personal Data to the government authority, and inform the relevant government authority that any and all requests or demands for access to the Personal Data should therefore be notified to or served upon the Controller in writing;</li>
                                    <br>
                                    <li>Dolphin AI will use commercially reasonable legal mechanisms to challenge any such demand for access to Personal Data which is under its control. Notwithstanding the above, (a) the Controller acknowledges that such challenge may not always be reasonable or possible in light of the nature, scope, context and purposes of the intended government authority access, and (b) if, taking into account the nature, scope, context and purposes of the intended government authority access to Personal Data, Dolphin AI has a reasonable and good-faith belief that urgent access is necessary to prevent an imminent risk of serious harm to any individual or entity, this subsection (e)(II) shall not apply. In such event, Dolphin AI shall notify the Controller, as soon as possible, following the access by the government authority, and provide the Controller with relevant details of the same, unless and to the extent legally prohibited to do so.</li>
                                    <br>
                                </ol>
                            </li>
                            <li>Once in every 12-month period, Dolphin AI will inform the Member, at the Member’s written request, of the types of binding legal demands for Personal Data it has received and solely to the extent such demands have been received, including national security orders and directives, which shall encompass any process issued under section 702 of FISA.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
        <br>
        <p>For more information about this DPA, you may contact us at <a href="mailto:team@getdolphin.ai">team@getdolphin.ai</a>.</p>
    </section>
    
  
</div>
  