<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="prose max-w-2xl mx-auto">
      <h1 class="text-3xl font-bold mb-4">Privacy Policy for Dolphin AI</h1>
      <p class="mb-4">At Dolphin AI, we are dedicated to protecting the privacy and confidentiality of all user data. This Privacy Policy outlines the types of information we collect, how we use it, and how we safeguard your personal data when you use our web app.</p>
      <ol class="list-decimal pl-6 mb-8">
        <li class="mb-4">
          <h2 class="text-lg font-semibold">1. Information Collection</h2>
          <p class="mb-4">1.1 User Provided Information: When you sign up for Dolphin AI, we may collect personal information such as your name, email address, and any other information you voluntarily provide us.</p>
          <p class="mb-4">1.2 Automatically Collected Information: We may also collect certain information automatically when you use our web app, including but not limited to, your IP address, device information, browser type, operating system details, and usage data.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">2. Use of Information</h2>
          <p class="mb-4">2.1 Personal Information: We use the information collected to provide, maintain, and improve the functionality of our web app, and to communicate with you regarding updates, offers, or technical issues.</p>
          <p class="mb-4">2.2 Usage Information: We may collect and analyze non-personally identifiable usage data to optimize our services and enhance user experience. This analytical data does not identify individual users and will be used in an aggregated form.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">3. Information Sharing</h2>
          <p class="mb-4">3.1 We do not sell, trade, or rent your personal information to third parties without your consent. However, we may share your information with trusted third-party service providers who assist us in operating our web app, conducting business, or servicing users, as long as they agree to keep your information confidential.</p>
          <p class="mb-4">3.2 We may also disclose your information to comply with legal obligations, enforce our policies, or protect our rights, property, or safety, as required or permitted by law.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">4. Data Retention</h2>
          <p class="mb-4">We will retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy. If you wish to delete your personal data, please contact us at help@getdolphin.ai</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">5. Data Security</h2>
          <p class="mb-4">We take data security seriously and implement appropriate technical and organizational measures to protect your information from unauthorized access, alteration, or disclosure. However, please acknowledge that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">6. Children's Privacy</h2>
          <p class="mb-4">Dolphin AI is not intended for use by individuals under the age of 18. We do not knowingly collect or store any personal information from children under 18 years of age. If we become aware that we have collected personal information from a child under this age, we will promptly delete it.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">7. Changes to this Policy</h2>
          <p class="mb-4">We reserve the right to modify or update this Privacy Policy at any time. You will be notified of any material changes via email or through a prominent notice on our web app. It is recommended to review this policy periodically for any updates.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">8. Contact Us</h2>
          <p class="mb-4">If you have any questions, concerns, or requests regarding your privacy, or if you would like to exercise any of your rights under applicable data protection law, please contact us at help@getdolphin.ai</p>
    </li>
    </ol>
    <p>By using Dolphin AI, you confirm that you have read, understood, and agreed to this Privacy Policy in its entirety.</p>
    </div>
    
    <!-- <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1 class="font-extrabold text-5xl text-black font-display">
          Privacy policy
        </h1>
        <p class="mt-4 text-base lea ding-7 text-gray-500">
          Last updated on January 01, 2023
        </p>
      </div>
    </div>
    <div>
      <div
        class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <p>
          This privacy policy sets out how Unwrapped AB collects, processes and
          uses your Personal Information through your use of our Services.
        </p>
        <h3>Definitions</h3>
        <h3>DPO</h3>
        <p>
          DPO means Data Protection Officer, and is the person specifically
          appointed by us to deal with your enquiries with respect to this
          privacy policy and your Personal Information.
        </p>
        <p>
          Personal Information means any identifying information about you. This
          includes, but is not limited to, the following: cookies and usage
          data.
        </p>
        <p>
          Services means all services provided by Michael Alexander Web Agency
          to you, including (but not limited to) this Website.
        </p>
        <p>
          Website means this website and all websites, applications and
          communications that post a link to this Privacy Policy.
        </p>
        <h3>Personal Information Collection</h3>
        <p>
          We only collect and use Personal Information to the extent necessary
          to provide you with the Services. We collect Personal Information for
          the Website to provide you with a better online experience.
        </p>
        <h3>Personal Information Retention</h3>
        <p>
          We keep Personal Information for the shortest time necessary to
          provide you with Services and to meet all our legal and compliance
          obligations. To determine this retention period, we take into account
          (i) the nature of the Personal Information gathered; and (ii) the
          nature of our legal and compliance obligations. All Personal
          Information no longer required by us is destroyed and/or erased.
        </p>
        <h3>Personal Data from Third Parties</h3>
        <p>
          We may, from time to time, obtain Personal Information from third
          parties to enable us to better tailor our Services to you (Third Party
          Personal Information). When we obtain Third Party Personal
          Information, we will notify you within one month. If we use or share
          Third Party Personal Information, we will notify you immediately.
        </p>
        <h3>Your Rights</h3>
        <p>
          With respect to Personal Information we hold, you have the following
          rights:
        </p>
        <ul>
          <li>
            Access: You may request from us access to your data that we hold on
            you.

            <p></p> li
          </li>
          <li>
            Rectification: If the data we hold on you is inaccurate, you may
            request that we correct it. If the data we hold is incomplete, you
            may request that we complete it.
          </li>
          <li>
            Erasure: Subject to certain conditions, you may request that we
            erase all of the data we hold on you. li Restrictions: Subject to
            certain conditions, you may request that we restrict the processing
            of data we hold on you.
          </li>

          <li>
            Portability: Subject to certain conditions, you may request that we
            transfer all the data we hold on you to a third party (including
            yourself).
          </li>
          <li>
            Objections: Subject to certain conditions, you may object to us
            processing the data we hold on you.
          </li>
        </ul>
        <h3>Social Media</h3>
        <p>
          You may choose to engage with our Services through a variety of social
          media sites and platforms, for example Facebook, Instagram and
          Twitter. When you interact with our Services through these social
          media platforms, you may allow us to receive Personal Information on
          how you are interacting with our Services. This will depend on your
          privacy settings on each social media site and platform. The data we
          are provided by you through your interaction with our Services on
          social media sites and platforms will be used by us subject to the
          terms of this privacy policy. Depending on your social media site’s
          privacy settings, your Personal Information may become public to a
          community of users if you choose to engage with our Services through
          these platforms. For further information on how you can customize your
          privacy settings on social media sites and how those sites handle your
          privacy, please refer to the privacy policy of each particular social
          media site.
        </p>
        <h3>Minors</h3>
        <p>
          We do not knowingly collect information on children under the age of
          16 (“Child”). If you become aware that a Child has provided us with
          Personal Information, please contact us. If we become aware that we
          have collected Personal Information from a Child without their
          parent's verifiable authorization to access our Services, we will take
          steps to remove that information from our servers.
        </p>
        <h3>Third Party Links</h3>
        <p>
          Our website contains links to other third-party websites not owned or
          managed by Unwrapped. This privacy policy applies to this website
          only. If you click a link to a third-party website, the privacy policy
          of that website will apply. We highly recommend that you read the
          privacy policies of other websites as they may be different from ours.
        </p>
        <h3>Payment Vendors</h3>
        <p>
          You can make payments via our website. Our vendors are listed below:
        </p>
        <ul><li>Paypal</li></ul>
        <p>
          Their privacy policy can be viewed <a
            href="https://www.paypal.com/webapps/mpp/ua/privacy-full">here</a
          >
        </p>
        <h3>Merger, acquisition or asset sale</h3>
        <p>
          If we or our subsidiaries are involved in a merger, acquisition, or
          asset sale, your Personal Information may be transferred.
        </p>
        <h3>Updates</h3>
        <p>
          We are constantly reviewing our privacy policy and procedures to
          ensure that they meet best practices. This policy was last updated on
          August 21, 2021.
        </p>
        <h3>Contact us</h3>
        <p>
          If you have any questions or suggestions about our privacy policy or
          want to know more information about Personal Information we hold,
          please contact us at support@unwrapped.design or write to us at
          Mariehamn, Åland Islands..
        </p>
        <h3>Complaints</h3>
        <p>
          If you believe that we have breached our obligations to you under this
          privacy policy or relevant privacy laws, please contact us at <a
            href="">email@example</a
          >
          If you are not satisfied with our response, you have the right to lodge
          a complaint at any time to your relevant authority.
        </p>
      </div>
    </div> -->
  </div>
</section>
