<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24">
    <div class="prose max-w-2xl mx-auto">
      <h1 class="text-3xl font-bold mb-4">Privacy Policy for Dolphin AI</h1>
      <p class="mb-4">At Dolphin AI, we are dedicated to protecting the privacy and confidentiality of all user data. This Privacy Policy outlines the types of information we collect, how we use it, and how we safeguard your personal data when you use our web app.</p>
      <ol class="list-decimal pl-6 mb-8">
        <li class="mb-4">
          <h2 class="text-lg font-semibold">1. Information Collection</h2>
          <p class="mb-4">1.1 User Provided Information: When you sign up for Dolphin AI, we may collect personal information such as your name, email address, and any other information you voluntarily provide us.</p>
          <p class="mb-4">1.2 Automatically Collected Information: We may also collect certain information automatically when you use our web app, including but not limited to, your IP address, device information, browser type, operating system details, and usage data.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">2. Use of Information</h2>
          <p class="mb-4">2.1 Personal Information: We use the information collected to provide, maintain, and improve the functionality of our web app, and to communicate with you regarding updates, offers, or technical issues.</p>
          <p class="mb-4">2.2 Usage Information: We may collect and analyze non-personally identifiable usage data to optimize our services and enhance user experience. This analytical data does not identify individual users and will be used in an aggregated form.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">3. Information Sharing</h2>
          <p class="mb-4">3.1 We do not sell, trade, or rent your personal information to third parties without your consent. However, we may share your information with trusted third-party service providers who assist us in operating our web app, conducting business, or servicing users, as long as they agree to keep your information confidential.</p>
          <p class="mb-4">3.2 We may also disclose your information to comply with legal obligations, enforce our policies, or protect our rights, property, or safety, as required or permitted by law.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">4. Data Retention</h2>
          <p class="mb-4">We will retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy. If you wish to delete your personal data, please contact us at help@getdolphin.ai</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">5. Data Security</h2>
          <p class="mb-4">We take data security seriously and implement appropriate technical and organizational measures to protect your information from unauthorized access, alteration, or disclosure. However, please acknowledge that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">6. Children's Privacy</h2>
          <p class="mb-4">Dolphin AI is not intended for use by individuals under the age of 18. We do not knowingly collect or store any personal information from children under 18 years of age. If we become aware that we have collected personal information from a child under this age, we will promptly delete it.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">7. Changes to this Policy</h2>
          <p class="mb-4">We reserve the right to modify or update this Privacy Policy at any time. You will be notified of any material changes via email or through a prominent notice on our web app. It is recommended to review this policy periodically for any updates.</p>
        </li>
        <li class="mb-4">
          <h2 class="text-lg font-semibold">8. Contact Us</h2>
          <p class="mb-4">If you have any questions, concerns, or requests regarding your privacy, or if you would like to exercise any of your rights under applicable data protection law, please contact us at help@getdolphin.ai</p>
    </li>
    </ol>
    <p>By using Dolphin AI, you confirm that you have read, understood, and agreed to this Privacy Policy in its entirety.</p>
    </div>
      </div>
</section>
