---
// You can add any props or logic here if needed
---

<footer class="bg-gray-800 text-white py-32">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <div />
    
    <div class="mb-4 md:mb-0">
      <br />
      <p> <a href="/terms" class="hover:underline" target="_blank">Terms of Service</a></p>
    </div>
    
    <div class="mb-4 md:mb-0">
      <br />
      <p> <a href="/privacy" class="hover:underline" target="_blank">Privacy Policy</a></p>
    </div>

    <div class="mb-4 md:mb-0">
      <br />
      <p> <a href="/accessibility" class="hover:underline" target="_blank">Accessibility</a></p>
    </div>

    <div class="mb-4 md:mb-0">
      <h2 class="text-lg font-bold">Dolphin AI</h2>
      <p class="text-sm">© 2024 All rights reserved.</p>
    </div>
  </div>
</footer>

